body{
    background-color: brown;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.padre {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 40vh;
    height: 40vh; 
    background-color: green; 
    border-radius: 8px; 
    border: 5px solid rgb(0, 0, 0); 
}

.hijo {
    padding: 50px;
    background-color: blueviolet; 
}